In [348]:
#importamos las librerias
import pandas as pd
import re

In [349]:
#convertimos nuestros dataset a dataframe
historico = pd.read_csv('historico_velocidad_internet.csv')
tecnologiaAcceso = pd.read_csv('Internet_Accesos-por-tecnologia.csv')
baf = pd.read_csv('Internet_BAF.csv')
ingresos = pd.read_csv('Internet_Ingresos.csv')
penetracion = pd.read_csv('Internet_Penetracion.csv')

#imprimimos los primeros 5 registros de cada dataframe
print(historico.head())
print(tecnologiaAcceso.head())
print(baf.head())
print(ingresos.head())
print(penetracion.head())

    Año  Trimestre Mbps (Media de bajada)    Trimestre.1
0  2022          3                  62,46  Jul-Sept 2022
1  2022          2                  58,44   Abr-Jun 2022
2  2022          1                  55,11   Ene-Mar 2022
3  2021          4                  52,34   Oct-Dic 2021
4  2021          3                  48,46  Jul-Sept 2021
    Año  Trimestre       ADSL Cablemodem Fibra óptica  Wireless    Otros  \
0  2022          3  1.395.277  6.031.970    2.871.541   557.110  235.230
1  2022          2  1.468.333  5.979.214    2.723.285   556.243  231.609
2  2022          1  1.533.240  6.073.426    2.219.533   545.814  251.996
3  2021          4  1.657.615  5.984.240    2.072.236   523.107  252.596
4  2021          3  1.950.631  5.826.257    1.566.048   492.415  250.190

        Total        Periodo
0  11.091.128  Jul-Sept 2022
1  10.958.684   Abr-Jun 2022
2  10.624.009   Ene-Mar 2022
3  10.489.794   Oct-Dic 2021
4  10.085.541  Jul-Sept 2021
    Año  Trimestre        Provincia Banda ancha fija Dial up      Total
0  2022          3     Buenos Aires        4.715.469   6.199  4.721.668
1  2022          3  Capital Federal        1.545.534   2.145  1.547.679
2  2022          3        Catamarca           70.292       1     70.293
3  2022          3            Chaco          144.141       5    144.146
4  2022          3           Chubut          164.874     904    165.778
    Año  Trimestre Ingresos (miles de pesos)        Periodo
0  2022          3                67.055.930  Jul-Sept 2022
1  2022          2                60.335.724   Abr-Jun 2022
2  2022          1                55.589.997   Ene-Mar 2022
3  2021          4                45.467.887   Oct-Dic 2021
4  2021          3                42.999.944  Jul-Sept 2021
    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78,11
1  2022          3  Capital Federal                       122,28
2  2022          3        Catamarca                        65,33
3  2022          3            Chaco                        43,86
4  2022          3           Chubut                        84,38

In [350]:
#eliminaremos las columnas Trimestre.1 en el data frame historico
historico = historico.drop(columns=['Trimestre.1'])
historico.head()
#eliminaremos la columna periodo en el dataframe tecnologiaAcceso
tecnologiaAcceso = tecnologiaAcceso.drop(columns=['Periodo'])
tecnologiaAcceso.head()
#eliminaremos la columna periodo en el dataframe ingresos
ingresos = ingresos.drop(columns=['Periodo'])
ingresos.head()
#Ya que nos queda claro indicando el trimestre del año, por eso eliminamos esas columnas ya que seria informacion repetida

    Año  Trimestre Ingresos (miles de pesos)
0  2022          3                67.055.930
1  2022          2                60.335.724
2  2022          1                55.589.997
3  2021          4                45.467.887
4  2021          3                42.999.944

In [351]:
#examinaremos los dataframe mostrando sus unicos ya que no sabemos si los datos fueron cargados con errores
print(historico['Trimestre'].unique())
print(tecnologiaAcceso['Trimestre'].unique())
print(ingresos['Trimestre'].unique())
print(penetracion['Trimestre'].unique())
print(baf['Trimestre'].unique())

[3 2 1 4]
[3 2 1 4]
[3 2 1 4]
[3 2 1 4]
[3 2 1 4]

In [352]:
#como podemos ver no hay nada raro en los datos, por lo que podemos continuar con el analisis de la columna trimestre

In [353]:
#controlaremos la columna provincia
print(baf['Provincia'].unique())
print(penetracion['Provincia'].unique())

['Buenos Aires' 'Capital Federal' 'Catamarca' 'Chaco' 'Chubut' 'Córdoba'
 'Corrientes' 'Entre Ríos' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquén' 'Río Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucumán']
['Buenos Aires' 'Capital Federal' 'Catamarca' 'Chaco' 'Chubut' 'Córdoba'
 'Corrientes' 'Entre Ríos' 'Formosa' 'Jujuy' 'La Pampa' 'La Rioja'
 'Mendoza' 'Misiones' 'Neuquén' 'Río Negro' 'Salta' 'San Juan' 'San Luis'
 'Santa Cruz' 'Santa Fe' 'Santiago Del Estero' 'Tierra Del Fuego'
 'Tucumán']

In [354]:
def removerPuntos(x):
    return x.replace('.', '')



#eliminaremos los puntos de nuestros datos ya que podrian causar problemas en el analisis en las columnas ADSL, Cablemodem, Fibra óptica, Otros, Total
#primero lo pasamos a str
tecnologiaAcceso['ADSL'] = tecnologiaAcceso['ADSL'].astype(str)
tecnologiaAcceso['Cablemodem'] = tecnologiaAcceso['Cablemodem'].astype(str)
tecnologiaAcceso['Fibra óptica'] = tecnologiaAcceso['Fibra óptica'].astype(str)
tecnologiaAcceso['Otros'] = tecnologiaAcceso['Otros'].astype(str)
tecnologiaAcceso['Total'] = tecnologiaAcceso['Total'].astype(str)
tecnologiaAcceso['Wireless'] = tecnologiaAcceso['Wireless'].astype(str)
#luego reemplazamos los puntos por nada 
tecnologiaAcceso['ADSL'] = tecnologiaAcceso['ADSL'].apply(removerPuntos)
tecnologiaAcceso['Cablemodem'] = tecnologiaAcceso['Cablemodem'].apply(removerPuntos)
tecnologiaAcceso['Fibra óptica'] = tecnologiaAcceso['Fibra óptica'].apply(removerPuntos)
tecnologiaAcceso['Otros'] = tecnologiaAcceso['Otros'].apply(removerPuntos)
tecnologiaAcceso['Total'] = tecnologiaAcceso['Total'].apply(removerPuntos)
tecnologiaAcceso['Wireless'] = tecnologiaAcceso['Wireless'].apply(removerPuntos)

tecnologiaAcceso.head()

    Año  Trimestre     ADSL Cablemodem Fibra óptica Wireless   Otros     Total
0  2022          3  1395277    6031970      2871541    55711   23523  11091128
1  2022          2  1468333    5979214      2723285   556243  231609  10958684
2  2022          1  1533240    6073426      2219533   545814  251996  10624009
3  2021          4  1657615    5984240      2072236   523107  252596  10489794
4  2021          3  1950631    5826257      1566048   492415   25019  10085541

In [355]:
#remplazaremos en penetracion las comas por puntos
penetracion['Accesos por cada 100 hogares'] = penetracion['Accesos por cada 100 hogares'].str.replace(',', '.')
penetracion.head()
# y de igual manera en Mbps (Media de bajada) de historico
historico['Mbps (Media de bajada)'] = historico['Mbps (Media de bajada)'].str.replace(',', '.')
historico.head()

    Año  Trimestre Mbps (Media de bajada)
0  2022          3                  62.46
1  2022          2                  58.44
2  2022          1                  55.11
3  2021          4                  52.34
4  2021          3                  48.46

In [356]:
#convertiremos los datos de las columnas a numericos validos para poder realizar el analisis de los datos en Power Bi

In [357]:
#Hemos encontrados datos que no son numericos en las columnas Banda Ancha, Dial up, total de baf, por lo que los convertiremos
baf['Banda ancha fija'] = baf['Banda ancha fija'].str.replace('.' , '')
baf['Dial up'] = baf['Dial up'].str.replace('.' , '')
baf['Total'] = baf['Total'].str.replace('.' , '')
baf.head()

    Año  Trimestre        Provincia Banda ancha fija Dial up    Total
0  2022          3     Buenos Aires          4715469    6199  4721668
1  2022          3  Capital Federal          1545534    2145  1547679
2  2022          3        Catamarca            70292       1    70293
3  2022          3            Chaco           144141       5   144146
4  2022          3           Chubut           164874     904   165778

In [358]:
#De igual manera haremos lo mismo con los datos de ingreso
ingresos['Ingresos (miles de pesos)'] = ingresos['Ingresos (miles de pesos)'].str.replace('.' , '')
ingresos.head()

    Año  Trimestre Ingresos (miles de pesos)
0  2022          3                  67055930
1  2022          2                  60335724
2  2022          1                  55589997
3  2021          4                  45467887
4  2021          3                  42999944

In [359]:
#corroboraremos que los datos de todos nuestros dataset antes de convertirlos a nuevos csv
print(historico.head())
print(tecnologiaAcceso.head())
print(baf.head())
print(ingresos.head())
print(penetracion.head())

    Año  Trimestre Mbps (Media de bajada)
0  2022          3                  62.46
1  2022          2                  58.44
2  2022          1                  55.11
3  2021          4                  52.34
4  2021          3                  48.46
    Año  Trimestre     ADSL Cablemodem Fibra óptica Wireless   Otros     Total
0  2022          3  1395277    6031970      2871541    55711   23523  11091128
1  2022          2  1468333    5979214      2723285   556243  231609  10958684
2  2022          1  1533240    6073426      2219533   545814  251996  10624009
3  2021          4  1657615    5984240      2072236   523107  252596  10489794
4  2021          3  1950631    5826257      1566048   492415   25019  10085541
    Año  Trimestre        Provincia Banda ancha fija Dial up    Total
0  2022          3     Buenos Aires          4715469    6199  4721668
1  2022          3  Capital Federal          1545534    2145  1547679
2  2022          3        Catamarca            70292       1    70293
3  2022          3            Chaco           144141       5   144146
4  2022          3           Chubut           164874     904   165778
    Año  Trimestre Ingresos (miles de pesos)
0  2022          3                  67055930
1  2022          2                  60335724
2  2022          1                  55589997
3  2021          4                  45467887
4  2021          3                  42999944
    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          3     Buenos Aires                        78.11
1  2022          3  Capital Federal                       122.28
2  2022          3        Catamarca                        65.33
3  2022          3            Chaco                        43.86
4  2022          3           Chubut                        84.38

In [360]:
#Guardaremos todos los datos limpios en nuevos csv ubicados en la carpeta CleanCSV
historico.to_csv('CleanCSV/historico_velocidad_internet.csv', index=False)
tecnologiaAcceso.to_csv('CleanCSV/Internet_Accesos-por-tecnologia.csv', index=False)
baf.to_csv('CleanCSV/Internet_BAF.csv', index=False)
ingresos.to_csv('CleanCSV/Internet_Ingresos.csv', index=False)
penetracion.to_csv('CleanCSV/Internet_Penetracion.csv', index=False)